input.destination
{
	width: 100%;
	max-width: 500px;
	display: inline-block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
}

.icon
{
	margin-top: 5px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
}

body 
{	
    padding-top: 70px;
}

div
{
	margin: 0;
	padding: 0;
}

body, html
{
	height: 100%;
    margin: 0px;
}

li.point
{
	font-size: 1.3em;
}

#dimmer
{
	display: none;
	z-index: 99;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.5);
}

#postbox
{
	position: relative;
    display: none;
	z-index: 100;
}

div.popup
{
	width: 400px;
	max-width: 95%;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-block
{
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#splash
{
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/logo_high_res.png");
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: top center;
	opacity: 0.5;
}

textarea.info-text
{
	overflow-y: scroll;
}

.filt
{
	min-width: 100%;
}

.width-50
 {
	width: 44%;
}

.width-90 
{
	width: 90%;
}

@media (max-width: 992px) 
{
	.hide-on-mobile 
	{
		display: none;
	}
}

.logo
{
	height: 115%;
}

div.parking-spots
{
	 margin: 15px;
	 padding: 10px; 
	 border: 1px solid #000000;
}