body { /* Took this from index.html. I assume this was from the template stuff? Probably don't need the min-height. -James */
	
    min-height: 2000px;
    padding-top: 70px;
}

.width-50 {

	width: 50%;
}