<!-- Post Parking Spot Popup window -->
<div class="panel panel-default" id="postbox">
	<div class="panel-heading"><strong>Post Parking Spot</strong></div>
	<div class="panel-body">
		<form ng-submit="submit()" ng-controller="PostSpotController">
			Location/Address<br>
			<input class="form-control" id="location" type="text" ng-model="location"/><br>
			Pricing (Default: 0.00)<br>
			$ Per Hour<input id="priceHour" class="form-control width-50" step='0.01' type="number" value="0.00" ng-model="priceHour"/><br>
			$ Per Day<input id="priceDay" class="form-control width-50" step='0.01' type="number" value="0.00" ng-model="priceDay"/><br>
			$ Per Month<input id="priceMonth" class="form-control width-50" step='0.01' type="number" value="0.00" ng-model="priceMonth"/><br>
			Parking Type<br>
			<select class="form-control" ng-model="type">
				<option value="Driveway" selected>Driveway</option>
				<option value="Garage">Garage</option>
				<option value="Underground">Underground</option>
				<option value="Street">Street</option>
			</select><br>
			Information/Details<br>
			<textarea class="form-control" rows="5" ng-model="info"/><br>
			<input class="btn btn-default" type="submit" id="submit" value="Post"/>
		</form>
	</div>
</div>

<!-- Map -->
<div id="mapView" ng-controller="MapController">
	<form class="form-inline" ng-submit="submit()">
		<div class="row">
			<div class="col-md-12">
				  <div class="form-group width-50">
					  <input type="text" class="form-control" id="destination" ng-model="destination" placeholder="Input a Destination" style="width:100%">
				  </div>
				  <input type="submit" class="btn btn-default" ></button>
				  <button type="button" class="btn btn-default" id="geolocate" aria-label="Left Align">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				  </button>
				  <button type="button" class="btn btn-default" id="postspot" aria-label="Left Align">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Post Parking Spot
				  </button>   
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
							Filter Options
						</button>
					</div> 
					<div id="collapse" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="col-md-3">
								<div class="checkbox">
								  <label><input type="checkbox" ng-model="available"> List only available Spots</label>
								</div>
							</div>
							<div class="col-md-9">
								<p>Maximum Pricing:</p>
							</div>
							<div class="col-md-3">
								<p>
									Maximum Distance (km)<br>
									Defaults to 10km<br>
								</p>
								<input class="form-control" type="number" step="0.001" ng-model="maxDistance"/><br>
							</div>
							<div class="col-md-3">
								<br>
								<p>$ Per Hour</p>
								<input class="form-control" step='0.01' type="number" ng-model="prices.maxHour"/>
							</div>
							<div class="col-md-3">
								<br>
								<p>$ Per Day</p>
								<input class="form-control" step='0.01' type="number" ng-model="prices.maxDay"/>
							</div>
							<div class="col-md-3">
								<br>
								<p>$ Per Month</p>
								<input class="form-control" step='0.01' type="number" ng-model="prices.maxMonth"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div id="googleMap" style="width:100%;height:500px;"></div>
			<br>
		</div>
	</div>
</div>