<div class="col-md-12">
	<form ng-submit="submit()" ng-controller="SignupController">
	  Username *<br>
	  <input type="text" ng-model="username"/><br>
	  Password *<br>
	  <input type="password" ng-model="password"/><br>
	  First Name (Optional)<br>
	  <input type="text" ng-model="firstname"/><br>
	  Last Name (Optional)<br>
	  <input type="text" ng-model="lastname"/><br>
	  Email *<br>
	  <input type="text" ng-model="email"/><br>
	  <br>
	  <input type="submit" id="submit" value="Sign Up" />
	  <br>
	  <br>
	  * Required
	</form>
</div>